
.nx/installation
.nx/cache
.nx/workspace-data

.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md

node_modules
dist
coverage
.env
.DS_Store
*.log
tmp
temp
/.vscode
/.idea
package-lock.json
yarn.lock
pnpm-lock.yaml
*.tgz
build
out
/.nx
/.angular
/.history
/.sass-cache
/.eslintcache
