@use '@angular/material' as mat;
html {
  color-scheme: light dark;
  @include mat.theme((
    color: mat.$violet-palette,
    typography: Roboto,
    density: 0
  ));
}
.spacer {
  flex: 1 1 auto;
}
.content {
  padding: 24px;
}
body.dark-theme {
  background: #121212;
  color: #fff;
}
body.dark-theme .mat-toolbar {
  background: #222;
  color: #fff;
}
.active {
  font-weight: bold;
  color: #1976d2;
}